/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

body {
    
    font-family: lato, sans-serif;
    font-size: 15px;
    

}


h1 {
   
    position: absolute;
    left: 350px;
    top: 280px;
    text-decoration: none;
    color: #ff4000;

}

h2 {
    
    
    position: absolute;
    left: 376px;
    top: 390px;
    text-decoration: none;
    color: #ff4000;
}

h3 {
    
    position: absolute;
    left: 342px;
    top: 450px;    
    text-decoration: none;
    color: #ff4000;
}


ul {
    
    list-style: none;
}


a {

    position: sticky;
    left: 360px;
    top: 20px;
    padding-top: 100px;
    text-decoration: none;
    color: #ff4000;
}




/* HEADER*/

header {
    height: 120px;

}


header nav {
    
    float: right;
    margin-top: 30px;
}

header nav ul li {
    
    float: left;
    display: inline-block;
}

header nav ul li {
    
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
   
}




/* MAIN IMAGE*/

#main-image {
    
    max-width: 1520px;
    height: 860px;
    background: url('Images/photo%20de%20profil%201.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    
     
}











