/* LE COPRS DE NOTRE SITE WEB */




body {
    
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    background-color: #474e5d;
}




/* IMAGES */

header {

    height: 900px;
    width: 1527px;
    margin: -8px;
    padding-top: 20px;
    background-image: url('../Images/Photo_CV.jpg');
    background-size: cover;

}




/* TITRES, PARAGRAPHES, SECTIONS */




header {
    
    margin-right: 100px
    
    
}



header h2  {
    
    
    font-family: 'Varela Round', sans-serif;
    margin-left: 290px;
    text-shadow: 3px 3px 3px white;
    
    
}


#formations h2 {
    
    color: #474e5d;
    
    
}




h1 {
    
    font-family: 'Varela Round', sans-serif;
    margin-left: 280px;
    margin-top: 120px;
    text-shadow: 3px 3px 3px white;

}

    



section {
    
    text-align: center;    
    
}


section h2 {
    
    color: white;
    
    
}



p {
    
    font-family: 'Roboto', sans-serif;
}



.button {
    
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    margin-left: 290px ;
}


.button:hover {
    
    background: white;
    color: #d82c2e;
    text-decoration: none;
  
    
    
}




/* LISTES */

a {
    
    text-decoration: none;
    color: red;
    margin-top: 20px;
    padding: 3px 6px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

a:hover {
    
    background: white;
    color: #d82c2e;
    text-decoration: none;
    
    
}



/*
a:visited {
    
    color: purple;
    
}
*/



header ul {

     margin-left: 600px; 
    
}


ul {
    
    margin-top: -2px;
    margin-left: 620px;

}



li {
    
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 1px;
    
}


nav ul li:hover {
    
    font-weight: bold;
    
}



nav {
    
    text-align: center;
    padding-bottom: 100px;
    
    
}




/* EXPERIENCES */

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;

    
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: -11px;
}


.point[title="2"] {
    
    position: relative;
    left: -361px;
    
}


.content {
    width: 50%;
    padding: 0 20px;
    margin-left: -350px
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
    margin-left: -20px;
}


.timeline ul li:nth-child(even) .content {
    padding-left: 0;
    margin-right: 300px;

        
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;

    
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}


.timeline ul li .date h4 {
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 1px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    
    
}

.timeline ul li:nth-child(even) .date h4 {
    float: right;
    margin-right: 355px
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}



/* FORMATIONS */


#formations {
    
    background: silver;
    padding-top: 10px;
    
}


.avenir {
    
    position: relative;
    margin-bottom: 10px;
    margin-left: 700px;
    
}




.pierre {
    
    position: relative;
    margin-right: 700px;
    margin-top: 100px;
    
}




.ncc1 {
    position: relative;
    margin-left: 1100px;
    padding-top: 10px;
    
    
    
}


.ncc2 {
    
    position: relative;
    margin-right: 1100px;
    margin-top: -190px;
    padding-top: 80px;
    
}


.oth {
    
    position: relative;
    margin-left: -10px;
    margin-top: -160px;
    padding-bottom: 20px;
    
}




/* COMETENCES */





/* PORTFOLIO */






/* CONTACT */








/* FOOTER */

footer {

 
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
    margin-right: 0px;
    
    
}


#contact a {
    
    color: black;
    background: none;
    
}


