/* LE COPRS DE NOTRE SITE WEB */




body {
    
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    background-color: #474e5d;
}




/* IMAGES */

header {

    height: 900px;
    width: 1527px;
    margin: -8px;
    padding-top: 20px;
    background-image: url('../Images/Photo_CV.jpg');
    background-size: cover;

}




/* TITRES, PARAGRAPHES, SECTIONS */




header {
    
    margin-right: 100px
    
    
}



header h2  {
    
    
    font-family: 'Varela Round', sans-serif;
    margin-left: 290px;
    text-shadow: 3px 3px 3px white;
    
    
}


#formations h2 {
    
    color: #474e5d;
    
    
}




h1 {
    
    font-family: 'Varela Round', sans-serif;
    margin-left: 280px;
    margin-top: 120px;
    text-shadow: 3px 3px 3px white;

}

    



section {
    
    text-align: center;    
    
}


section h2 {
    
    color: white;
    
    
}



p {
    
    font-family: 'Roboto', sans-serif;
}



.button {
    
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    margin-left: 290px ;
}


.button:hover {
    
    background: white;
    color: #d82c2e;
    text-decoration: none;
  
    
    
}




/* LISTES */

a {
    
    text-decoration: none;
    color: red;
    margin-top: 20px;
    padding: 3px 6px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

a:hover {
    
    background: white;
    color: #d82c2e;
    text-decoration: none;
    
    
}



/*
a:visited {
    
    color: purple;
    
}
*/



header ul {

     margin-left: 600px; 
    
}


ul {
    
    margin-top: -2px;
    margin-left: 620px;

}



li {
    
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 1px;
    
}


nav ul li:hover {
    
    font-weight: bold;
    
}



nav {
    
    text-align: center;
    padding-bottom: 100px;
    
    
}




/* EXPERIENCES */

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;

    
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: -11px;
}


.point[title="2"] {
    
    position: relative;
    left: -361px;
    
}


.content {
    width: 50%;
    padding: 0 20px;
    margin-left: -350px
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
    margin-left: -20px;
}


.timeline ul li:nth-child(even) .content {
    padding-left: 0;
    margin-right: 300px;

        
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;

    
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}


.timeline ul li .date h4 {
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 1px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    
    
}

.timeline ul li:nth-child(even) .date h4 {
    float: right;
    margin-right: 355px
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}



/* FORMATIONS */


#formations {
    
    background: silver;
    padding-top: 10px;
}



.ncc1 {
    position: relative;
    color: silver;
    left: 500px;
    top: 79px;
    background: #474e5d;
    border-radius: 10px;
    padding: 1px;
    margin-left: 570px;
    margin-right: 670px; 
    
}


.ncc2 {
    
    position: relative;
    color: silver;
    right: 30px;
    bottom: 103px;
    background: #474e5d;
    border-radius: 10px;
    padding: 1px;
    margin-left: 650px;
    margin-right: 580px
    
    
    
    
}


.oth {
    
    position: relative;
    color: silver;
    bottom: 95px;
    right: 450px;
    background: #474e5d;
    border-radius: 10px;
    padding: 1px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: -190px;
   
    
}



.pierre {
    
    position: relative;
    color: silver;
    bottom: 45px;
    left: 700px;
    margin-right: 910px;
    margin-top: 100px;
    background: #474e5d;
    border-radius: 10px;
    padding: 1px;
    margin-left: 280px
    
}


.avenir {
    
    position: relative;
    color: silver;
    bottom: -162px;
    right: 500px;
    background: #474e5d;
    border-radius: 10px;
    padding: 1px;
    margin-left: 700px;
    margin-right: 500px;
    margin-bottom: -100px;
    
    
}




/* COMETENCES */


#competences {
    
    color: white;

}



.langages {
    
    margin-right: 840px;
    
}


.notions {
    
    position: relative;
    bottom: 200px;
    margin-right: 860px;
    
}


.langages h4 {
    
    position: relative; 
    
}



#html {
    
    position: relative;
    height: 100px;
    margin-right: 1060px;
    
}


#css {
    
    position: relative;
    height: 100px;
    bottom: 106px;
    margin-right: 850px
}


#javascript {
    
    position: relative;
    height: 100px;
    bottom: 209px;
    margin-right: 655px;
    
}




.logiciels {
    
    position: relative;
    bottom: 416px;
    margin-left: 800px;
    
}


#maya {
    
    position: relative;
    bottom: 400px;
    left: 350px;
    
}



#cinema4d{
    
    position: relative;
    bottom: 505px;
    left: 460px;
    
    
}



.bases {
    
    position: relative;
    bottom: 500px;
    margin-left: 820px;
    
}



.montage {
    
    position: relative;
    bottom: 400px;

}



#adobe {
    
    position: relative;
    bottom: 430px;
    margin-right: 300px;
    
}



#avid {
    
    position: relative;
    bottom: 650px;
    
}


#fcpx {
    
    position: relative;
    bottom: 870px;
    margin-left: 400px
    
}


.bases1 {
    
    position: relative;
    bottom: 870px;
    margin-right: 10px;
    
}


/* CENTRES D'INTERETS */


#loisirs {
    
    position: relative;
    bottom: 800px;
    background: silver;
    padding-top: 10px;
}


#loisirs h2 {
    
    color: #474e5d;
    
}




.cinema {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/avatar2.jpg');
    background-repeat: no-repeat;
    color: white;
    margin-left: 100px;
    padding-bottom: 10px;
    height: 103px;
    width: 200px;
    bottom: 210px;
    border-radius: 10px 10px 10px;
    font-size: 20px;
    text-shadow: 3px 3px 2px black; 
    box-shadow: 5px 5px 10px 2px black;
    
}

.cinema {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cinema:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}






.musique {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: 20px;
    background-image: url('../Images/musique.jpg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    color: white;
    height: 105px;
    width: 200px;
    padding-top: 10px;
    border-radius: 10px 10px 10px;
    font-size: 25px;
    text-shadow: 3px 3px 2px black; 
    margin-left: 380px;
    bottom: 210px;
    box-shadow: 5px 5px 10px 2px black;
    
    
}


.musique {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.musique:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}





.jv {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/JV.jpg');
    background-position: center right 15%;
    background-repeat: no-repeat;
    height: 115px;
    width: 200px;
    color: white;
    font-size: 25px;
    margin-left: 650px;
    bottom: 210px;
    text-shadow: 3px 3px 2px black;
    box-shadow: 5px 5px 10px 2px black;
    border-radius: 10px;
    
}


.jv {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.jv:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}





.voyages {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/voyages.jpg');
    background-position: center right 10%;
    background-repeat: no-repeat;
    height: 120px;
    width: 220px;
    color: white;
    font-size: 25px;
    margin-left: 920px;
    bottom: 210px;
    text-shadow: 3px 3px 2px black;
    box-shadow: 5px 5px 10px 2px black;
    border-radius: 10px;
    
}


.voyages {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.voyages:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




.technologies {
    
    position: absolute;
    justify-content: center;
    background-image: url('../Images/nouvelles%20technologies.jpg');
    background-position: center right 10%;
    background-repeat: no-repeat;
    height: 123px;
    width: 223px;
    color: white;
    font-size: 25px;
    margin-left: 1210px;
    bottom: 210px;
    text-shadow: 3px 3px 3px black;
    box-shadow: 5px 5px 10px 2px black;
    border-radius: 10px;
   
}


.technologies {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.technologies:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




/* PORTFOLIO */








/* CONTACT */








/* FOOTER */

footer {

 
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
    margin-right: 0px;
    
    
}


#contact a {
    
    color: black;
    background: none;
    
}



